<div class="titolo"><h1>
  Ricerca
</h1></div>
<form [formGroup]="formGroup">
  <div class="formContainer">
    <div class="nameInput">
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>NAME</mat-label>
        <input
          formControlName="name"
          matInput
          placeholder="Enter name here"
        />
        <mat-error *ngIf="!formGroup.controls['name'].valid">
          Inserisci Nome
        </mat-error>
      </mat-form-field>
    </div>

    <div class="postIdInput">
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>POSTID</mat-label>
        <input
          formControlName="postId"
          matInput
          placeholder="PostId here"
        />
        <mat-error *ngIf="!formGroup.controls['postId'].valid">
          Inserisci PostId
        </mat-error>
      </mat-form-field>
    </div>

    <div class="id">
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>ID</mat-label>
        <input
          formControlName="id"
          matInput
          placeholder="id here"
        />
        <mat-error *ngIf="!formGroup.controls['id'].valid">
          Inserisci id
        </mat-error>
      </mat-form-field>
    </div>

    <div class="emailInput">
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Email</mat-label>
        <input
          formControlName="email"
          matInput
          placeholder="Enter email address"
        />
        <mat-error *ngIf="!formGroup.controls['email'].valid">
          Inserisci Mail
        </mat-error>
      </mat-form-field>
    </div>
  </div>
  <div class="losbottones">
    <button
      type="button"
      mat-stroked-button
      color="warn"
      (click)="clean()"
    >
      Pulisci
    </button>
    <button
      type="submit"
      [disabled]="!formGroup.valid"
      mat-stroked-button
      color="accent"
      (click)="submit(true)"
    >
      Ricerca
    </button>
  </div>
</form>


<div *ngIf="hide">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container [matColumnDef]="column" *ngFor="let column of displayedColumns">
      <th mat-header-cell *matHeaderCellDef> {{column}} </th>
      <td mat-cell *matCellDef="let element"> {{element[column]}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator
    [length]="lengthResult"
    [pageSize]="pageSize"
    [pageIndex]="page"
    [pageSizeOptions]="[5,10,15]"
    aria-label="Select page"
    (page)="onPageChange($event)">
  </mat-paginator>
</div>

