<h1>Totale carrello: {{ cartService.getSum() | async | currency }}</h1>

<mat-dialog-content>
  <div *ngFor="let i of prodList">
    <mat-card>
      <h4>
        <strong>{{ i?.title }}</strong>
      </h4>
      <img src="{{ i.thumbnail }}" alt="" />
      <p>{{ i?.description }}</p>
      <p>
        <span><strong>Prezzo: </strong></span>{{ i?.price }}
      </p>
    </mat-card>
  </div>
</mat-dialog-content>

<mat-dialog-actions>
  <button
    mat-dialog-close
    mat-stroked-button
    color="warn"
    [mat-dialog-close]="true"
    (click)="deleteCart()"
  >
    Svuota
  </button>
  <button
    mat-flat-button
    color="primary"
    [mat-dialog-close]="true"
    (click)="submit(prodList)"
  >
    Acquista
  </button>
</mat-dialog-actions>
