.container{
  display: flex;
  gap: 2rem;
  padding: 1rem;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.title{
  padding: 1rem 0 0 1rem;
}

/*
.wrapper {
  border: solid;
  min-height: 100vh;
}
*/
